:root {
  --color-white: #FAFAFA;
  --color-primary: #7371FC;
  --color-secondary: #A594F9;
  --color-tertiary: #CDC1FF;
  --color-lg-primary: #F5EFFF;
  --color-lg-secondary: #E5D9F2;

  --color-green-primary: #3B7861;
  --color-green-secondary: #67BDAF;
  --color-green-lg: #B5EAD7;

  --color-red-primary: #DC143C;
  --color-red-secondary: #FFC0CB;
  --color-red-lg: #FFD1DC;
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

.default-loading {
  animation: loading 1.5s ease infinite;
}

@keyframes loading {
  to{
    transform: rotateZ(360deg);
  }
}