:root {
  --navbar-height: var(--header-height);
}

.header {
  height: var(--navbar-height);
  position: relative;
  color: var(--color-lg-primary);
  background-color: var(--color-primary);
  z-index: 1;
}

.navbar {
  height: 100%;
  width: 100%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__section {
  margin: 0 1rem;
  padding: 0;
}

.navbar__list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.navbar__list__link {
  color: var(--color-lg-primary);
  text-decoration: none;
  transition: color 0.6s ease;
  cursor: pointer;
  align-self: center;
}

.navbar__list__link:hover {
  color: var(--color-lg-secondary);
}

.navbar__list__app-name {
  font-size: 1.3rem;
}