@media (min-width: 768px) {
  .chat-page {
    display: grid;
    grid-template-columns: 30% 70%;

    height: calc(100vh - var(--header-height))
  }

  .chat-page-left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chat-page-left__new-chat-btn {
    display: flex;
    justify-content: center;
  }
  
  .chat-page-right {
    position: relative;
  }
}