.navbar-user {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar-user__user-menu {
  border: 2px solid var(--color-white);
  border-radius: 50%;
  display: flex;
  font-size: 1.7rem;
  margin-right: 0.8rem;
  cursor: pointer;
}

.navbar-user__user-menu__menu {
  display: flex;
  gap: 1rem;
  list-style-type: none;

  flex-direction: column;
  position: absolute;
  top: 110%;
  right: 0.5rem;
  
  background-color: var(--color-lg-primary);
  border: var(--color-secondary) 2px solid;
  border-radius: 1rem;
  padding: 0.8rem;

  transform: translateY(-110%);
  transition: all 0.2s ease;
  z-index: -1;
  font-size: 1rem;
}

.navbar-user__user-menu__menu--show {
  transform: translateY(0);
}

.navbar-user__user-menu__menu__item {
  text-decoration: none;
  color: var(--color-primary);
  transition: all 0.3s ease;
}

.navbar-user__user-menu__menu__item:hover {
  color: var(--color-secondary);
}

.navbar-user__user-menu__menu__logout-item {
  color: orangered;
  transition: all 0.3s ease;
}

.navbar-user__user-menu__menu__logout-item:hover {
  color: red;
}