.page {
  overflow: hidden;
  position: relative;
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 0.6rem;
}

.navbar-user__welcome {
  max-width: 40vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navbar-user__user-menu {
  position: relative;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  display: flex;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-user__user-menu:hover {
  border: 2px solid var(--color-tertiary);
}

.navbar-user__user-menu__icon-group {
  position: relative;
}

.navbar-user__user-menu__icon-group {
  position: relative;
  display: flex;
}

.navbar-user__user-menu__icon-group__circle {
  z-index: 10;
  position: absolute;
  right: 11%;
  top: 12%;
  background-color: red;
  border-radius: 50%;
  overflow: hidden;
  width: 0.6rem;
  height: 0.6rem;
}

.navbar-user__user-menu__icon-group__icon {
  transition: all 0.3s ease;
}

.navbar-user__user-menu__icon-group__icon:hover {
  color: var(--color-tertiary);
}

.navbar-user__user-menu__menu {
  display: flex;
  gap: 1rem;
  list-style-type: none;

  flex-direction: column;
  position: absolute;
  top: var(--header-height);
  right: 0;

  background-color: var(--color-lg-primary);
  border: var(--color-secondary) 2px solid;
  border-radius: 1rem;
  padding: 0.8rem;

  width: max-content;
  transform: translateY(-15rem);
  transition: all 0.2s ease;
  z-index: -1;
  font-size: 1rem;
}

.navbar-user__user-menu__menu--show {
  transform: translateY(0);
}

.navbar-user__user-menu__menu__item {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  text-decoration: none;
  color: var(--color-primary);
  transition: all 0.3s ease;
  font-size: 1rem;
  text-align: start;
  cursor: pointer;
}

.navbar-user__user-menu__menu__item-requests {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  margin: 0.1rem 0;
}

.navbar-user__user-menu__menu__item-buttons {
  color: green;
  font-size: 1.5rem;
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.navbar-user__user-menu__menu__item-buttons_confirm {
  color: green;
}

.navbar-user__user-menu__menu__item-buttons_decline {
  color: red;
}

.navbar-user__user-menu__menu__item:hover {
  color: var(--color-secondary);
}

.navbar-user__user-menu__menu__logout-item {
  color: orangered;
  transition: all 0.3s ease;
}

.navbar-user__user-menu__menu__logout-item:hover {
  color: red;
}