@media (min-width: 768px) {
  .chat-page {
    display: grid;
    grid-template-columns: 30% 70%;

    height: calc(100vh - var(--header-height))
  }

  .chat-page-left, .chat-page-right {
    position: relative;
  }
}