.chat-page-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - var(--header-height));
}

.chat-page-left__chats {
  box-sizing: border-box;
  overflow-y: scroll;
  padding-right: 20px;
  height: 100%;
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
}

.chat-page-left__new-chat-btn {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .chat-page {
    display: grid;
    grid-template-columns: 30% 70%;

    height: calc(100vh - var(--header-height))
  }   
  
  .chat-page-right {
    position: relative;
  }
}

.btn-color-violet {
  box-shadow: 0 0 2px 0 var(--color-primary);
  border-color: var(--color-primary);
  background-color: var(--color-lg-secondary);
}

.btn-color-violet:hover {
  background-color: var(--color-tertiary);
}

.btn-color-green {
  box-shadow: 0 0 2px 0 var(--color-green-primary);
  border-color: var(--color-green-primary);
  background-color: var(--color-green-lg);
}

.btn-color-green:hover {
  background-color: var(--color-green-secondary);
}