.chat {
  display: grid;
  grid-template-columns: 20% 60% 20%;

  border: 2px solid var(--color-secondary);
  border-radius: 1rem;

  padding: 0.3rem 0rem;
  margin: 6px 3px;
  cursor: pointer;

  transition: all 0.3s ease;
}

.chat:hover {
  box-shadow: 0 0 3px var(--color-primary);
}

.chat--hidden {
  display: none;
}

.chat__section {
  margin: 0 0.2rem;
}

@media (min-width: 768px) {
  .chat--hidden {
    display: grid;
  }
}

.chat__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat__left__user-image {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--color-secondary);
  border-radius: 100%;

  height: 2.4rem;
  width: 2.4rem;
}

.chat__center {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-overflow: ellipsis;
}

.chat__center__item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 2px 0;
}

.chat__center__username {
  position: relative;
  font-size: 1rem;
}

.chat__center__msg-container {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.chat__center__msg-container__last-msg {
  color: grey;
}

.chat__center__msg-container__last-msg--yours {
  color: var(--color-primary);
}

.chat__center__msg-container__date {
  white-space: nowrap;
  position: relative;
  right: 0;
  font-weight: 300;
  font-size: 0.7rem;
  align-self: center;
}

.chat__right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat__right__btn-menu {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.7rem;
  height: 1.5rem;

  border: 1px solid var(--color-primary);
  border-radius: 5px;
  background-color: var(--color-lg-secondary);
  color: var(--color-primary);

  transition: all 0.3s ease;
}

.chat__right__btn-menu:hover {
  background-color: var(--color-tertiary)
}

.chat__right__menu {
  position: absolute;
  top: calc(50% + calc(1.5rem / 2));
  right: calc(50% - calc(1.7rem / 2));
  margin-top: 3px;
}

.chat__right__menu__item {
  cursor: pointer;
  border: 1px solid var(--color-red-primary);
  border-radius: 1rem;
  background-color: var(--color-red-lg);
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 0 1px 1px var(--color-red-primary);
}

.chat__right__menu__item:hover {
  background-color: var(--color-red-secondary);
}