:root {
  --header-height: 3.5rem;
  --footer-height: 8rem;
}

.main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  z-index: -1;
  background-color: var(--color-lg-primary);
  padding: 1rem;
}

.main--landing {
  display: grid;
  align-items: center;
}

.sections {
  display: grid;
  grid-template-columns: auto;
  box-sizing: border-box;
  gap: 1rem;
}

@media (min-width: 768px) {
  .sections {
    grid-template-columns: auto auto;
  }
}

.sections__section {
  align-self: center;
  justify-self: center;
  max-width: 15rem;
  background-color: var(--color-white);
  box-shadow: 0 0 3px var(--color-secondary);
  border: 2px solid var(--color-primary);
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  overflow: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sections__section:hover {
  box-shadow: 0 0 10px var(--color-primary);
}

.sections__section:nth-child(odd) {
  justify-self: left;
}

.sections__section:nth-child(even) {
  justify-self: right;
}

@media (min-width: 480px) {
  .sections__section {
    max-width: 20rem;
    margin: 0 3rem;
  }
}

@media (min-width: 768px) {
  .sections__section:nth-child(-n+3) {
    justify-self: left;
  }
  
  .sections__section:nth-child(n+3) {
    justify-self: right;
  }
}

.sections__section__title {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}