.btn {
  cursor: pointer;

  margin: 0.7rem;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 700;

  border-width: 2px;
  border-style: solid;
  border-radius: 1.3rem;
  transition: all 0.3s ease;
}

.btn--hidden {
  display: none;
}

@media (min-width: 768px) {
  .btn--hidden {
    display: block;
  } 
}