.tab__table {
  font-size: 0.9rem;
  text-align: center;
  border-spacing: 0;
  border: 1px solid var(--color-primary);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .tab__table {
    font-size: 1rem;
  }
}

.tab__table__td {
  border: 1px solid var(--color-primary);
  padding: 0.4rem;
}

.tab__table__td__btn {
  border: 0;
  padding: 0;
  margin: auto;
  background-color: inherit;
  display: flex;
}

.tab__table__td__btn__icon {
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
}

.tab__container {
  display: flex;
  flex-direction: column;
}

.tab__reload-container {
  align-self: center;
  margin-top: 0.7rem;
  padding: 0.1rem;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 0.3rem;
  display: flex;
  color: var(--color-green-primary);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 1px var(--color-green-secondary);
}

.tab__reload-container:hover {
  background-color: var(--color-green-lg);
}

.tab__reload-container__btn--loading {
  animation: loading 2s ease infinite;
}

@keyframes loading {
  to {
    transform: rotateZ(360deg);
  }
}